@import "src/styles.scss";

/* buscador de la tabla */
app-search-input{
  width: 100%;
}


.disabled {
  size: 1000px;
}

.selected-row {
  background-color: #e3f2fd; /* Color de fondo para la fila seleccionada */
}
tr {
  cursor: pointer;
}
.btnDelete,
.btnClear {
  border: none;
}

.btnEdit {
  color: darkgrey;
}
.btnDelete, .btnSave{
  background: none;
}
.btnSave {
  color: rgb(7, 170, 7);
  border: none;
}

.disabled-icon {
  opacity: 0.5;
  color: gray;
  pointer-events: none;
  background: none;
}

.table-responsive {
  max-height: 50vh;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.sticky-footer {
  bottom: -1px;
  position: sticky;
  z-index: 1;
  background-color: white;
}

