<!-- Contenedor de la pagina /rechazos/maps -->
<div class="p-3 d-flex flex-column gap-4" style="height: 100%;">
  <!-- parter superior -->
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center gap-3">
      <mat-icon>map</mat-icon>
      <h2 class="m-0">Mapa</h2>
    </div>
  </div>
<!-- contenedor el mapa -->
<div class="map-container">
  <google-map width="100%" height="700px" [center]="center" [zoom]="zoom" [options]="options">
    <map-marker *ngFor="let marker of markers" [position]="marker"></map-marker>
  </google-map>
</div>


  
  <mat-dialog-actions class="d-flex justify-content-end gap-2">
    <button mat-raised-button color="light" type="button" (click)="close()" cdkFocusInitial mat-button>Cerrar</button>
  </mat-dialog-actions>
</div>