 /* Header Styles */

 .icon-title {
  width: 40px;
  height: 40px;
  margin-right: 10px; 
  color: white; 
  font-size: 35px;
}
  

  
  .bg-gradient{
    background: linear-gradient(45deg, #2b1e5f, #6269b8) !important;
  }