<div class="header">
    <div class="relative no-padding">
        <div class="header-row">
            <div class="header-col header-col--logo">
                <a class="navbar-brand header-inner d-flex align-items-center boards-main-link" [routerLink]="['/']">
                    <div class="brand inline">
                        <img class="header-logo" src="../../assets/images/mobentisLogo.png" alt="logo" />
                    </div>
                </a>
            </div>
            <div class="header-col header-col--menu" [class.open]="menuOpen">
              <div class="horizontal-navbar" data-intercom-target="horizontal-navbar">
                <ul class="menu-items list-unstyled">
                  <app-menu-item (click)="toggleMenu()"
                    *ngFor="let item of menuItems"
                    [item]="item"
                    [menuOpen]="menuOpen"
                  ></app-menu-item>
                </ul>
              </div>
            </div>
            <div class="header-col">
                <!-- Botón de toggler para vista móvil -->
                <button class="navbar-toggler" (click)="toggleMenu()" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">&#9776;</span>
                </button>
            </div>
            <div class="header-col flex-0">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item dropdown">
                        <div class="d-flex gap-3 align-items-center btn-profile pe-3" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <img 
                                 width="35"
                                 height="35"
                                 src="assets/images/user.png"
                                 alt="Perfil"
                                 class="avatar"
                                 />
                            <div >
                                <h3 class="name no-padding">{{_loginServices.user}}</h3>
                                <p class="cargo no-padding">Mobentis</p>
                            </div>
                        </div>
                        <!-- Menú desplegable de perfil -->
                        <ul class="dropdown-menu dropdown-menu-end" aria-label="profileDropdown">
                            <li>
                                <a class="dropdown-item" (click)="openProfileEditPopup()">Perfil</a>
                                <a class="dropdown-item"  (click)="logout()">Salir</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</div>

<div class="content">
    <div class="h-screen">
        <router-outlet></router-outlet>
    </div>
</div>
