@import "src/styles.scss";

/* Navbar horizontal (solo para tablets y móviles) */
.header {
  background-color: #353e40;

  .navbar-toggler {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1em;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .navbar-brand {
    margin-right: 0;

    &:hover {
      background-color: #44484981;
      color: #fff;
      border-radius: 2px;
    }
  }

  ul.list-style {
    list-style: none;
  }

  .btn-profile {
    cursor: pointer;

    &:hover {
      background-color: #44484981;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }
}

/* Navbar vertical (solo para pantallas grandes) */
#sidebar-wrapper {
  width: 60px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #343a40;
  color: #fff;
  z-index: 16;
  transition: width 0.3s ease;

  &[aria-expanded="true"] {
    width: 250px;

    .sidebar-brand h4,
    .sidebar-nav li a.navLink span {
      opacity: 1;
      visibility: visible;
    }

    .sidebar-brand img {
      margin-right: 0.5rem;
    }
  }

  .sidebar-nav {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .sidebar-brand {
      font-size: 1.5rem;
      padding: 1rem 1.2rem;
      display: flex;
      align-items: center;

      .title-navbar {
        text-decoration: none;
        display: flex;
      }

      img {
        transition: margin-right 0.5s ease;
      }

      h4 {
        color: white;
        font-weight: 600;
      }
    }

    li {
      a.navLink {
        display: flex;
        align-items: center;
        color: #fff;
        padding: 0.75rem 20px;
        text-decoration: none;
        transition: background 0.3s;

        i {
          margin-right: 0.5rem;
          font-size: large;
        }

        &:hover {
          background: #495057;
        }
      }
    }
  }
}

/* Botón para desplegar el navbar */
.toggle-btn {
  position: fixed;
  left: 50px;
  top: 15px;
  z-index: 17;
  padding: 1px 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  transition: left 0.2s ease, opacity 0.5s ease;
  opacity: 0;

  &[aria-expanded="true"] {
    left: 235px;
  }

  &:hover {
    background-color: #f8f9fa;
    border-color: #ccc;
    opacity: 1;
  }

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

/* Contenido de la página */
@media (min-width: 992px) {
  #page-content-wrapper {
    margin-left: 60px;
    transition: margin-left 0.2s ease;
    min-height: 100vh;

    &[aria-expanded="true"] {
      margin-left: 250px;
    }
  }
}

/* Dropdown */
.dropdown-menu {
  background-color: #343a40;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .dropdown-item {
    color: #fff;
    padding: 10px 20px;

    &:hover {
      background-color: #495057;
    }
  }
}
