@import "src/styles.scss";

.custom-modal {
    max-width: 400px;
    width: 100%;
}

.bordes-redondeados {
    border-radius: 0.25rem;
}

::ng-deep ngb-datepicker.dropdown-menu {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}