mat-form-field {
    width: 100%;
}

.row {
    padding-bottom: .5em;
}

.icono-email{
    cursor: pointer;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #3f51b5;
  }