<div>
    <app-popup-header [title]="'Motivos de Rechazo'" [icon]="'/assets/images/iconos/configuracion-icon-dark.svg'" (close)="cerrarPopup()"></app-popup-header>
</div>

<mat-dialog-content class="mat-typography py-0">
  <table class="table ">
      <thead>
          <tr>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
              <th scope="col" class="text-center">Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of rejectList">
              <td>{{row.rejection_code}}</td>
              <td>{{row.rejection}}</td>
              <td class="text-center">
                  <mat-icon *ngIf="row.internal_id!=-1" (click)="addEditRechazo(row.id)" class="btnEdit"
                            matTooltip="Editar">edit</mat-icon>
                  <mat-icon *ngIf="row.internal_id!=-1" (click)="deleteRechazo(row.id)" class="btnDelete"
                            matTooltip="Eliminar">delete</mat-icon>
              </td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" [(ngModel)]="newRejectionCode" placeholder="Código"></td>
            <td><input type="text" class="form-control" [(ngModel)]="newRejectionName" placeholder="Nombre"></td>
            <td class="text-center">
                <mat-icon  class="btnSave" matTooltip="Guardar">check</mat-icon> <!-- falta la logica para agregar un nuevo motivo de rechazo hacer que la falto -->
                <mat-icon (click)="clearNewRechazo()" class="btnClear" matTooltip="Limpiar">clear</mat-icon>
            </td>
        </tr>
          <tr *ngIf="rejectList.length === 0">
              <td colspan="3" class="text-center">No se han encontrado datos</td>
          </tr>
      </tbody>
  </table>
  <app-pagination></app-pagination>
</mat-dialog-content>

