<div class="d-flex justify-content-between align-items-center py-1">
  <h3 mat-dialog-title class="bg-light m-0">Motivos de Rechazo</h3>
</div>

<mat-dialog-content class="mat-typography py-0">
  <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">Código</th>
              <th scope="col">Nombre</th>
              <th scope="col" class="text-center">Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of rejectList">
              <td>{{row.rejection_code}}</td>
              <td>{{row.rejection}}</td>
              <td class="text-center">
                  <mat-icon *ngIf="row.internal_id!=-1" (click)="addEditRechazo(row.id)" class="btnEdit"
                            matTooltip="Editar">edit</mat-icon>
                  <mat-icon *ngIf="row.internal_id!=-1" (click)="deleteRechazo(row.id)" class="btnDelete"
                            matTooltip="Eliminar">delete</mat-icon>
              </td>
          </tr>
          <tr *ngIf="rejectList.length === 0">
              <td colspan="3" class="text-center">No se han encontrado datos</td>
          </tr>
      </tbody>
  </table>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-end gap-2 p-2 pe-4">
  <button mat-raised-button color="light" mat-button cdkFocusInitial (click)="cancelar()">Cerrar</button>
</mat-dialog-actions>
