<li
  class="nav-item"
  [ngClass]="{
    dropdown: item.submenuItems?.length > 0 && !isVertical,
    dropend: item.submenuItems?.length > 0 && isVertical
  }"
  (mouseover)="onMouseOver()"
  (mouseout)="onMouseOut()"
>
  <a
    [ngClass]="{
      'nav-link': !isVertical,
      navLink: isVertical,
      'dropdown-toggle': item.submenuItems?.length > 0 && !isVertical,
      'disabled-link': !item.route
    }"
    [routerLink]="item.route ? item.route : null"
    [attr.aria-expanded]="item.isSubmenuOpen ? 'true' : null"
    [attr.data-bs-toggle]="
      item.submenuItems?.length > 0 && !isVertical ? 'dropdown' : null
    "
  >
    <!-- Icono (solo para navbar vertical) -->
    <i *ngIf="isVertical && item.icon" [class]="item.icon"></i>

    <!-- Label -->
    <span *ngIf="!isVertical || isExpanded">{{ item.label }}</span>
  </a>

  <!-- Dropdown para submenús -->
  <ul
    *ngIf="item.submenuItems?.length > 0 && (!isVertical || isExpanded)"
    class="dropdown-menu"
    [ngClass]="{
      show: item.isSubmenuOpen,
      'vertical-dropdown': isVertical
    }"
  >
    <li *ngFor="let subItem of item.submenuItems">
      <ng-container *ngIf="isVertical; else horizontalSubitem">
        <!-- Subitem para navbar vertical -->
        <a class="dropdown-item" [routerLink]="subItem.route">
          {{ subItem.label }}
        </a>
      </ng-container>

      <!-- Subitem para navbar horizontal (recursivo) -->
      <ng-template #horizontalSubitem>
        <mobentis-menu-item
          [item]="subItem"
          [isVertical]="isVertical"
          [isExpanded]="isExpanded"
        ></mobentis-menu-item>
      </ng-template>
    </li>
  </ul>
</li>
