mat-form-field {
    width: 100%;
}

.row {
    padding-bottom: .5em;
}

h2 {
    text-align: center;
}

.btnContacts {
    cursor: pointer;
    color: #3c27c5;
}

.icon-title {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.color-dark {
    color: #6D6D6D;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #3f51b5;
  }