<div class="d-flex align-items-center justify-content-center contenedor background-login">
    <div class="col-4 justify-content-center align-self-center background-light-gray rounded-4">
        <div class="login-forms m-5 d-flex flex-column justify-content-center align-items-center">
            <!-- Logo AppInWhats -->
            <img class="logo mb-2" src="../../../assets/images/mobentisLogo.png" alt="logo">
            <h2 class="titulo mb-2">Recupera tu cuenta</h2>
            <form [formGroup]="changePassForm" (ngSubmit)="changePassword()"
                  class="mt-4 login-form d-flex flex-column align-items-center">
                <p class="mb-4">Introduce tu correo electrónico y recupera tu cuenta.</p>
                
                <div class="exito text-success mb-3" *ngIf="mensajeEnviado">
                    Hemos enviado un correo con un enlace para que recuperes tu cuenta. Si no lo has recibido, puedes enviarlo otra vez.
                </div>
                
                <div class="mb-3 w-100">
                    <label for="emailInput" class="form-label">Email</label>
                    <input type="email" id="emailInput" class="form-control" [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
                    <div *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')" class="text-danger">
                        Por favor introduzca un Email válido.
                    </div>
                    <div *ngIf="emailFormControl.hasError('required') && emailFormControl.touched" class="text-danger">
                        El Email es <strong>Obligatorio</strong>
                    </div>
                    <div *ngIf="emailFormControl.hasError('pattern')" class="text-danger">
                        El Email introducido no es válido.
                    </div>
                </div>

                <button type="submit" class="btn btn-primary w-100 mt-3">Recuperar mi cuenta</button>
                <p class="mt-3">
                    <a href="javascript:void(0);" (click)="cancelar()" class="text-decoration-none">Volver a la página de acceso</a>
                </p>
            </form>
        </div>
    </div>
</div>
