@import "src/styles.scss";

.contenedor{
    height: 100vh;
}

.logo {
    width: 25%;
}

.login-form {
    width: 100%;
}

.btn {
    width: 30%;
}
  
p a{
    font-weight: 100;
    text-decoration: underline;
    color: #0d6efd;
    cursor: pointer;
}
p a:hover{
    text-decoration: underline;
    color: #0a58ca;
}
