:host {
  display: block;
  width: 100%;
  height: 100%;
  --color-primary: #1e40af;
  --color-secondary: #3b82f6;
  --color-tertiary: #60a5fa;
  --chart-title-weight: normal;
  --chart-title-size: 15px;
}
