<div class="py-5 px-2 h-100 background-light-gray" (window:resize)="onResize()">
  <div class="row d-flex mx-3 mt-4 mb-0 justify-content-between">
    <div class=" col-2 container m-0  p-0"> <!-- col-9-->
      <div class="row align-items-center d-flex justify-content-between">
        <div class="d-flex align-items-center gap-3">
          <img class="col-1 icon-title p-0 my-4" src="assets/images/iconos/dashboard-icon-dark.svg" alt="Dashboard"
            matListItemIcon />
          <h1 class="mb-0 dark-gray page-heading">Dashboard</h1>
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center">
      <app-kpi class=""></app-kpi>
    </div>
  </div>
  <div>
    <!-- boton de filtros aplicados o limpiar -->
    <app-filter-container [componentId]="'dashboard-general'" (filtersChanged)="onFiltersChanged($event)">
    </app-filter-container>
  </div>
  <div class="container d-grid gap-3 mt-3">
    <div class="row">
      <div class="col-4">
        <div class="contenedor-grafica-s background-white rounded-4"><app-grafica-clientes></app-grafica-clientes></div>
      </div>
      <div class="col-4">
        <div class="contenedor-grafica-s background-white rounded-4"><app-grafica-motivos></app-grafica-motivos></div>
      </div>
      <div class="col-4">
        <div class="contenedor-grafica-s background-white rounded-4">
          <app-grafica-pedidos-familias-productos></app-grafica-pedidos-familias-productos>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="contenedor-grafica-s background-white rounded-4">
          <app-grafica-pedidos-segmentacion1></app-grafica-pedidos-segmentacion1>
        </div>
      </div>
      <div class="col-4">
        <div class="contenedor-grafica-s background-white rounded-4">
          <app-grafica-pedidos-segmentacion2></app-grafica-pedidos-segmentacion2>
        </div>
      </div>
      <div class="col-4">
        <div class="contenedor-grafica-s background-white rounded-4">
          <app-grafica-pedidos-segmentacion3 class=""></app-grafica-pedidos-segmentacion3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="contenedor-grafica-s background-white rounded-4">
          <app-grafica-productos-top></app-grafica-productos-top>
        </div>
      </div>
      <div class="col-4">
        <div class="contenedor-grafica-s background-white rounded-4">
          <app-grafica-pedidos-mes class=""></app-grafica-pedidos-mes>
        </div>
      </div>
      <div class="col-4">
        <div class="contenedor-grafica-s background-white rounded-4">
          <app-grafica-pedidos-dia></app-grafica-pedidos-dia>
        </div>
      </div>
    </div>
  </div>

  <div class="background-white rounded-4 p-3 mt-3">
    <div>
      <div class="form-group col-3">
        <select id="tablaActiva" class="form-select form-select-sm" [(ngModel)]="tablaActiva" (change)="select($event)">
          <option *ngFor="let nombre of nombresTablas; let i = index" [value]="i">
            {{ nombre }}
          </option>
        </select>
      </div>
      <div>
        <div class="table-responsive">
          <table class="table table-hover table-sm my-0">
            <!-- Columna Dinámica para 'nombre' -->
            <thead>
              <tr>
                <th class="sticky-left">{{ nombresTablas[tablaActiva] }}</th>
                <th class="text-end sticky-left">Total</th>
  
                <!-- Columnas dinámicas de tipos de rechazos -->
                <th *ngFor="let columna of columnasRechazos" class="text-end column-rechazos"> {{ columna }} </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let element of paginadorData">
                <td class="sticky-left" [title]="element.nombre" [attr.data-toggle]="element.nombre.length > 32 ? 'tooltip' : ''">
                  {{ element.nombre }}
                </td>
                <td class="sticky-left text-end">{{ element.total }}</td>
  
                <!-- Celdas dinámicas de rechazos -->
                <td class="text-end column-rechazos" *ngFor="let columna of columnasRechazos">
                  {{ element.rechazos[columna] || 0 }}
                </td>
              </tr>
  
              <!-- Fila sin datos -->
              <tr *ngIf="paginadorData.length === 0">
                <td colspan="4" class="text-center">No hay datos que mostrar</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <!-- Componente de Paginación -->
        <app-pagination
          [totalItems]="data.length"
          [itemsPerPage]="itemsPerPage"
          [currentPage]="currentPage"
          (pageChange)="changePage($event)"
          (itemsPerPageChanged)="onItemsPerPageChanged($event)">
        </app-pagination>
      </div>
    </div>
  </div>